.contact_form span{
    display: block;
    margin: 20px 0;
}

@media screen and (max-width:920px){
    .driver{
    grid-template-columns: 1fr;
    }

    .driver img{
        max-width:80% ;
        margin: auto;
    }

    .driver .left{
        display: flex;
        justify-content: center;
    }

    .driver h2{
        padding-top: 10%;
    }
}
