

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
  }

.about_top{
    width: 100%;
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

.about_top h1{
    height: 20rem;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 10px;

}

.about_bottom{
    display: flex;
    flex-direction: column;
    height: 55%;
    align-items: center;
    margin-top: 50px;

}

.about_bottom p{
    width: 1200px;
}

.about_bottom h1{
    font-size: 50px;
    color: #73B55C;
    justify-content: center;


}
.about_center_main2{
    width: 80%;
    margin:3rem auto;
    display: grid;
        grid-template-columns: repeat(2 ,1fr);
        gap:2rem;
}
.about_center_main{
    width: 80%;
    margin:3rem auto;

    }

.about_center_main{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        gap:2rem;
    }


.about_center1{
    padding-right: 6rem;
}

.about_center1 h1{
    font-size: 2.5rem;
    line-height: 1;
    color: #0288D1;
}

.about_center2 img{
 width: 50rem ;
}

.about_center3 img{
    width: 50rem ;
}
.lorepics{
    width: 50%;
    margin:3rem;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap:8rem;
}
.loreimg1 img{
    width: 50rem ;
}

.loreimg2 img{
    width: 50rem ;
}
.about_center4{
    padding-right: 6rem;
}

.about_center4 h1{
    font-size: 2.5rem;
    line-height: 1;
    color: #0288D1;
}

.about_center1 p{
    margin-bottom: 2rem;
}

.about_center_bottom{
    padding-right: 6rem;
    margin-left: 2rem;
}

.about_center_bottom p{
    margin-bottom: 2rem;
}

.about_center_bottom h1{
    color: #73B55C;

}
 .aboutcenter6{
    width: 50rem ;
 }
.aboutcenter7{
    width: 50rem ;
}
.aboutcenter8{
    width: 50rem ;
}
.aboutcenter9{
    width: 50rem ;
}

.aboutcenter9 h1{
    font-size: 2.5rem;
    line-height: 1;
    color: #0288D1;
}

.aboutcenter6 h1{
    font-size: 2.5rem;
    line-height: 1;
    color: #0288D1;
}
.aboutcenter10{
    width: 50rem ;
}
.aboutcenter11{
    width: 50rem ;
}
.aboutcenter12{
    width: 50rem ;
}
.aboutcenter13{
    width: 50rem ;
}
.aboutcenter14{
    width: 50rem ;
}

.aboutcenter15{
    width: 50rem ;
}
.aboutcenter16{
    width: 50rem ;
}

.aboutcenter10 h1{
    font-size: 2.5rem;
    line-height: 1;
    color: #0288D1;
}
.aboutcenter13 h1{
    font-size: 2.5rem;
    line-height: 1;
    color: #0288D1;
}
.aboutcenter14 h1{
    font-size: 2.5rem;
    line-height: 1;
    color: #0288D1;
}

.aboutcenter16 h1{
    font-size: 2.5rem;
    line-height: 1;
    color: #0288D1;
}
