.Heading_title h1{
    color: #73B55C;
    text-align: center;

}

.join_us1 h1{
    color: #73B55C;

}

.join_us2 h1{
    color: #73B55C;

}

.join{
    margin-bottom: 100px;
    padding-right: 6rem;
    margin-left: 2rem;
}

.btn_join{
    font-weight: bold;
}
