

.planter1 img {
    width:60rem
}


.story-btn{
    text-align: center;
}
.vote {
        width: 2rem;
        margin: 0.5rem;
}

.story-btn a{
  font-size: 20px;
  text-align: center;
  color: #73B55C;
  text-decoration: none;
}

.Join-btn button{
    background-color: #73B55C;
    border-radius: 0.5rem;
    color: white;
}

.Hero_section{
width: 80%;
margin:3rem auto;

}

.Hero_section_box{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap:2rem;
}

.Hero_section_box_right{
    padding-right: 6rem;
}

.Hero_section_box_right h1{
    font-size: 2.5rem;
    line-height: 1;
    color: #0288D1;
}

.Hero_section_box_right a{
    text-decoration: none;
}

.Hero_section_box_right p{
    margin-bottom: 2rem;
}

.vertical {
    border-left: 10px solid #73B55C;
    padding: 0.5rem;


}

@media screen and (max-width:35em) {
    .Hero_section{
        width:90%;
    }
}

@media screen and (max-width:55em) {
    .Hero_section_box{
        grid-template-columns: 1fr;
        gap:4rem;
    }

    .Hero_section_box_right{
        padding-right: 2rem;
    }

    .Hero_section_box_right h1{
        line-height: 1;
        font-size: 3rem;
    }
}

